<h2>hello {{name}}</h2>
<h3>Add Book</h3>
<form [formGroup]="book" (ngSubmit)="addBook()">    
<input type="text" placeholder="Enter book name" name="title" formControlName="title">
<br/>
<br/>
<input type="text" placeholder="Enter totalpages" name="total_pages" formControlName="total_pages">
<br/>
<br/>
<input type="text" placeholder="Enter rating" name="rating" formControlName="rating">
<br/>
<br/>
<input type="text" placeholder="Enter isbn" name="isbn" formControlName="isbn">
<br/>
<br/>
<button>Add Book</button>
</form>