<h2>hello {{name}}</h2>&nbsp;&nbsp;
<button type="button" class="btn btn-link" (click)="viewUsers()">Users</button>&nbsp;&nbsp;
<button type="button" class="btn btn-link" (click)="addBook()">Add Book</button>

<div style="text-align: justify;">
    <table class="table" border="1" align="center">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Total Pages</th>
          <th>Rating</th>
          <th>ISBN</th>
        </tr>
        <tr *ngFor="let book of bookList">
          <td>{{book.book_id}}</td>
          <td>{{book.title}}</td>
          <td>{{book.total_pages}}</td>
          <td>{{book.rating}}</td>
          <td>{{book.isbn}}</td>
          <td>
            <button type="button" class="btn btn-link" (click)="updateBook(book.book_id,book.title,book.total_pages,book.rating,book.isbn,name)">Update</button>
          </td>
           <td> 
            <button type="button" class="btn btn-link" (click)="deleteBook(book.book_id,book.title,book.total_pages,book.rating,book.isbn)">Delete</button>
          </td>
        </tr>
    </table>
    <br/>
</div>