<div style="text-align: justify;">
    <table class="table" border="1" align="center">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Total Pages</th>
          <th>Rating</th>
          <th>ISBN</th>
        </tr>
        <tr *ngFor="let book of bookList">
          <td>{{book.book_id}}</td>
          <td>{{book.title}}</td>
          <td>{{book.total_pages}}</td>
          <td>{{book.rating}}</td>
          <td>{{book.isbn}}</td>
        </tr>
    </table>
    <br/>
</div>