<p>user-registration</p>

<form [formGroup]="user" (ngSubmit)="addUser()">  
<input type="text" placeholder="Enter name" name="name" formControlName="name">
<br/>
<br/>
<input type="text" placeholder="Enter email" name="email" formControlName="email">
<br/>
<br/>
<input type="password" placeholder="Enter password" name="password" formControlName="password">
<br/>
<button>Register</button>
</form>