<p>Admin Login</p>
<form [formGroup]="admin" (ngSubmit)="loginAdmin()">  
    <input type="text" placeholder="Enter name" name="name" formControlName="name">
    <br/>
    <br/>
    <input type="password" placeholder="Enter password" name="password" formControlName="password">
    <br/>
    <br/>
    <button>Sign In</button>&nbsp;&nbsp;<button type="button" class="btn btn-link" (click)="signup()">Sign Up</button>
    </form>