<div style="text-align: center; border: 10px solid mediumaquamarine;padding:20px;">

  <nav>
    <a routerLink="books">Books</a>&nbsp;&nbsp;
    <a routerLink="admin-login">Admin</a>&nbsp;&nbsp;
    <a routerLink="user-login">User</a>
  </nav>

</div>

<div style="text-align: center;font-size:30px;border:10px dashed blanchedalmond;margin-top: 20px;">
<router-outlet></router-outlet>
</div>