<h2>hello {{name}}</h2>
<div style="text-align: justify;">
    <table class="table" border="1" align="center">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
        <tr *ngFor="let user of userList">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
           <td> 
            <button type="button" class="btn btn-link" (click)="deleteUser(user.id,user.name,user.email)">Delete</button>
          </td>
        </tr>
    </table>
    <br/>
</div>
